body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}
.container {
max-width: 1000px;
margin: 0 auto;
}
.header {
background-color: #333;
color: white;
padding: 20px;
}
.header h1 {
margin: 0;
}
.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #333;   /* Dark background for the navbar */
}

.nav li {
    margin: 0 15px;   /* Adjust as needed to separate the items */
}

.nav a {
    font-family: 'Times New Roman', Times, serif;   /* Using Times New Roman as a common serif font */
    font-size: 20px;   /* Adjust as needed for size */
    color: white;
    text-decoration: none;
    padding: 10px 15px;   /* Padding around the links for better click area and spacing */
    transition: background-color 0.3s;   /* Transition for hover effect */
}

.nav a:hover {
    background-color: #555;   /* Slightly lighter color on hover */
    text-decoration: none;   /* No underline on hover, but you can remove this if you prefer the underline */
}
.content {
padding: 20px;
}
.content h2 {
margin-top: 0;
}
.content p {
line-height: 1.5;
}
.speakers-list {
    list-style-type: none; /* Removes bullets */
    padding: 0; /* Removes default padding */
}
.speaker {
    display: flex;         /* Use flex layout */
    align-items: left;   /* Center items vertically */
    margin-bottom: 20px;   /* Space between each speaker */
}
.speakers-list li {
    display: flex;
    align-items: center; /* Aligns items vertically */
    margin-bottom: 20px; /* Spacing between each speaker */
    padding: 10px;
    border: 1px solid #e0e0e0; /* Optional border around each speaker */
    border-radius: 10px; /* Rounded corners for the border */
}

.speakers-list img {
    width: 100px;  /* Desired width */
    height: 100px; /* Desired height */
    object-fit: cover; /* This will crop the image to cover the dimensions without distorting it */
    object-position: center; /* Adjust the alignment of the cropped image */
    margin-right: 20px;
    border-radius: 50%;
}

.speakers-list h3 {
    margin: 0; /* Removes default margin */
}

.affiliation {
    display: block;        /* Make it occupy its own line */
    color: grey;           /* Set color to grey */
    margin-bottom: 5px;    /* Space between affiliation and bio */
}
.speakers-list p {
    display: block;
    margin: 20px 0 0 0; /* Adds a little spacing between the name and bio */
    font-size: 14px; /* Adjusts font size for the bio */
    color: #555; /* Makes bio text a bit softer in color */
}
footer {
    background-color: #333; /* Color to match the navbar */
    color: white;
    padding: 20px 0;
    text-align: center;
}
.footer-content p {
    margin: 5px 0; /* Add a bit of margin between the two paragraphs */
}

.footer-content a {
    color: white;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}